
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav  mr-auto">

      <!--<li class="nav-item">
    <a class="nav-link" routerLink="user">Profile</a>
  </li>-->


      <li *ngIf="isAuth" class="nav-item">
        <a class="nav-link" routerLink="user/{{eyssUser.userName}}"><span class="profile">Hello {{eyssUser.userName}}</span></a>
      </li>

      <li *ngIf="isAuth" class="nav-item">
        <a class="nav-link" routerLink="postArticle">New Article</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">


      <!--<li *ngIf="!userData.auth"  class="nav-item">-->
      <li *ngIf="!isAuth" class="nav-item">
        <app-auth></app-auth>
      </li>

      <li *ngIf="isAuth" class="nav-item">
        <a class="nav-link black" (click)="logout()">Logout</a>
      </li>
      
        <!--<a class="nav-link" routerLink="user/"></a>-->
       

    </ul>

  </div>

</nav>


<!--<div class="form-group">
  <input class="form-control" placeholder="Search" type="text">
</div>
<button type="submit" class="btn btn-default">Submit</button>-->
