<div *ngFor="let comment of comments">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{comment.author}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{comment.createdAt}}</h6>
      <!-- <p class="card-text">{{comment.content}}Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
      <a routerLink="user/{{comment.id}}" class="card-link">Panel link</a>
    </div>
  </div>
</div>
