<div *ngFor="let article of articles">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a class="black" routerLink="article/{{article.id}}"> {{article.title}}</a> </h4>
      <h6 class="card-subtitle mb-2 text-muted">Created by : <b><a class="black" routerLink="user/{{article.author}}"><b>{{article.author}}</b></a></b></h6>  <p class="createdAt">Submitted on : {{article.createdAt}}</p>
      <!-- <p class="card-text">{{article.content}}Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
      <!--<a routerLink="article/{{article.id}}" class="card-link">Panel link</a>-->
    </div>
  </div>
</div>

<div class="container">
  <nav aria-label="">
    <ul class="pagination">
      <li class="page-item"><a class="page-link inh" (click)="getPrev()">Previous</a></li>

      <li class="page-item"><a class="page-link inh">{{page}}/{{totalPages}}</a></li>

      <li class="page-item"><a class="page-link inh" (click)="getNext()">Next</a></li>
    </ul>
  </nav>
</div>
