.createdAt {
  font-weight: 100;
  text-align: right;
}

.titlemiddle {
  text-align: center;
}

a.black {
  color: inherit;
  /*cursor: default;*/
}

a.black:hover {
  cursor: pointer
}

a.createdAt {
  color: black;
}

span.admin {
  color : palevioletred;
}

span.profile {
  color:aqua;
}

button.profile {
  background-color:sandybrown;
}
.delete{
  background-color:orangered;
}
