<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title titlemiddle">
        {{user.username}} <br />
        <span class="profile" *ngIf="isHisProfile">This is you!</span> <br />
        <span class="admin" *ngIf="isAdmin">You are admin!</span>
      </h4>
      <!--<h6 class="card-subtitle mb-2 text-muted">Created by : <a class="black" ><b>{{user.createdAt}}</b></a></h6>  <p class="createdAt">Registered on : {{user.createdAt}}</p>-->
      <h6 class="card-subtitle mb-2 text-muted">About : <b>{{user.info}}</b></h6>
      <button *ngIf="isHisProfile" type="button" class="profile" routerLink="update"> Update </button>
      <button *ngIf="isAdmin" type="button" class="delete" (click)="deleteUser(user.id)"> Delete </button>
    </div>
  </div>
</div>


<div *ngFor="let article of articles">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a class="black" (click)="goToArticle(article.id)"> {{article.title}}</a> </h4>
      <p class="createdAt">Submitted on : {{article.createdAt}}</p>
      <!-- <p class="card-text">{{article.content}}Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
      <!--<a routerLink="article/{{article.id}}" class="card-link">Panel link</a>-->
    </div>
  </div>
  <button *ngIf="isAdmin" type="button" class="delete" (click)="deleteArticle(article.id)"> Delete </button>
</div>


<div class="container">
  <nav aria-label="">
    <ul class="pagination">
      <li class="page-item"><a class="page-link inh" (click)="getPrev()">Previous</a></li>
      <li class="page-item"><a class="page-link inh">{{page}}/{{totalPages}}</a></li>
      <li class="page-item"><a class="page-link inh" (click)="getNext()">Next</a></li>
    </ul>
  </nav>
</div>
