<form #articleForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <input type="text"
           id="title"
           class="form-control"
           name="title"
           placeholder="Title"
           [(ngModel)]="article.title">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control"
              rows="20"
              id="article"
              name="article"
              placeholder="Article"
              [(ngModel)]='article.content'></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
