<div class="register container">
  <h1>Register</h1>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required
             [(ngModel)]="regUser.username" name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
             [(ngModel)]="regUser.password" name="password">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="regUser.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Register</button>

  </form>
</div>

