<div class="card">
  <div class="card-body">
    <h4 class="card-title titlemiddle">{{article.title}}</h4>
    <h4 class="card-subtitle mb-2 text-muted">Created by : <a class="black" (click)="goToUser(article.author)"><b>{{article.author}}</b></a></h4>  <p class="createdAt">Submitted on : {{article.createdAt}}</p>
    <p class="card-text">{{article.content}}Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    <!--<a routerLink="user/{{article.id}}" class="card-link">Panel link</a>-->
  </div>
</div>


<h2>Comments : </h2>

<div *ngFor="let comment of comments">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a class="black" (click)="goToUser(comment.author)"><b>{{comment.author}}</b></a></h4>
      <p class="createdAt">Submitted on : {{comment.createdAt}}</p>
      <p class="card-text">{{comment.content}}</p>
      <!--<a routerLink="user/{{article.id}}" class="card-link">Panel link</a>-->
    </div>
  </div>
</div>
<div>
  <form #commentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control"
                rows="5"
                id="comment"
                name="comment"
                placeholder="Comment"
                [(ngModel)]='comment.content'></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container">
  <nav aria-label="">
    <ul class="pagination">
      <li class="page-item"><a class="page-link inh" (click)="getPrev()">Previous</a></li>
      <li class="page-item"><a class="page-link inh">{{page}}/{{totalPages}}</a></li>
      <li class="page-item"><a class="page-link inh" (click)="getNext()">Next</a></li>
    </ul>
  </nav>
</div>

<!--<div class="form-group">
  <input type="text"
         id="comment"
         class="form-control"
         rows="5"
         placeholder="Add New Task"
         [(ngModel)]="commentValue">
</div>-->
<!--(keyup.enter)="onTaskAdd($event)"-->
