.createdAt {
  font-weight: 100;
  text-align: right;
}

.titlemiddle{
  text-align:center;
}

a.black {
  color: inherit;
  /*cursor: default;*/
}
a.black:hover {
  cursor:pointer
}
a.createdAt {
  color: black;
}

/*.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}*/
