

/*.container{
  margin: auto
}

.input {
  width: 120px
}

.register {
  width: 120px
}

nav ul li:first-child {
  float: left;
}

nav ul li {
  list-style: none;
  margin: 10px;
  float: right;
}*/
