<!--The content below is only a placeholder and can be replaced.-->
<div class="app container">

  <app-navbar></app-navbar>


  <router-outlet></router-outlet>
</div>






<!--<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="user">User</a></li>
</ul>-->
<!--<app-home></app-home>-->

