<form #updateForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="update">Update:</label>
    <textarea class="form-control"
              rows="5"
              id="update"
              name="update"
              placeholder="Update info"
              [(ngModel)]='text'></textarea>
  </div>
  <button type="submit" class="btn btn-primary yellow">Submit</button>
</form>
